.position-relative {
	position: relative;
}
.bg-white {
	background-color: $white;
}
.bg-kahki {
	background-color: $color-kahki;
}
.bg-green {
	background-color: $color-green;
}
.bg-light-gray {
	background-color: $light-gray;
}