.position-relative {
	position: relative;
}
.overflow-hidden {
	overflow: hidden;
}
.color-black {
	color: $black;
}
.bg-white {
	background-color: $white;
}
.bg-kahki {
	background-color: $color-kahki;
}
.bg-green {
	background-color: $color-green;
}
.bg-light-gray {
	background-color: $light-gray;
}
.h-100 {
	height: 100%;
}