p,
.p,
ul,
ol {
	font-size: clamp(1rem, 0.979rem + 0.089vw, 1.063rem);
	&.p-2 {
		font-size: clamp(1rem, 0.917rem + 0.356vw, 1.25rem);	
	}
}
.p-2 {
	p,
	.p,
	ul,
	ol {
		font-size: clamp(1rem, 0.917rem + 0.356vw, 1.25rem);	
	}
}
h1,
.h1 {
	font-size: clamp(2.188rem, 1.875rem + 1.333vw, 3.125rem);
}
h2,
.h2 {

}
.entry-content{
	h2,
	.h2,
	h3,
	.h3 {
	}
	h2,
	h3 {
		&:not(.no-underline) {
			text-decoration: underline;
			text-decoration-color: $color-dark-kahki;
			text-underline-offset: .1em;
			text-decoration-thickness: .18em;
			margin-bottom: .5em;	
		}
	}
	ul:not(.accordion) {
		list-style: none;
		li {
			position: relative;
			padding-left: .3em;
			margin-bottom: .5em;
			line-height: 1.4;
			&:before {
				content: '';
				position: absolute;
				left: -1em;
				top: 0.4em;
				width: 0.5em;
				height: 0.65em;
				background: url('../../assets/images/bullet-green.svg') no-repeat center / contain;

			}
		}
	}
	.bg-green {
		color: $white;
		a {
			color: $white;
			text-decoration-color: $color-lime-green;
		}
		ul {
			list-style: none;
			li {
				&:before {
					background: url('../../assets/images/bullet-lime-green.svg') no-repeat center / contain;
				}
			}
		}
		h2,
		.h2,
		h3,
		.h3 {
			text-decoration-color: $color-dark-kahki;
		}
	}
}