p,
.p,
ul,
ol {
	font-size: clamp(1rem, 0.979rem + 0.089vw, 1.063rem);
	&.p-2 {
		font-size: clamp(1rem, 0.917rem + 0.356vw, 1.25rem);	
	}
}
.p-2 {
	p,
	.p,
	ul,
	ol {
		font-size: clamp(1rem, 0.917rem + 0.356vw, 1.25rem);	
	}
}
h1,
.h1 {
	font-size: clamp(2.188rem, 1.875rem + 1.333vw, 3.125rem);
}
h2,
.h2 {

}
.entry-content{
	h2,
	.h2,
	h3,
	.h3 {
	}
	h2,
	h3 {
		&:not(.no-underline) {
			text-decoration: underline;
			text-decoration-color: $color-dark-kahki;
			text-underline-offset: .1em;
			text-decoration-thickness: .18em;
			margin-bottom: .5em;	
		}
	}
	ul:not(.accordion) {
		li {
			padding-left: .3em;
			margin-bottom: .5em;
			list-style-image: url(../../assets/images/bullet-green.svg);
			line-height: 1.4;
		}
	}
	.bg-green {
		color: $white;
		a {
			color: $white;
			text-decoration-color: $color-lime-green;
		}
		ul {
			li {
				list-style-image: url(../../assets/images/bullet-lime-green.svg);
			}
		}
		h2,
		.h2,
		h3,
		.h3 {
			text-decoration: underline;
			text-decoration-color: $color-dark-kahki;
			text-underline-offset: .1em;
		}
	}
}