:root {
  --brm: 1;
}
@supports (corner-shape: squircle) {
  :root {
	--brm: 2;
  }
}

// Fonts

// Colors
$color-kahki: #f1e3d3;
$color-dark-kahki: #C59B76;
$color-orange: #ff6e21;
$color-burnt-orange: #B33E00;
$color-green: #667761;
$color-lime-green: #C0C781;